<!DOCTYPE html>
<html lang="{{ site.locale | default: 'en' }}">
  <head>
    {% include head.html %}
  </head>

  <body class="site">
  <div class="page-inner">
    <div class="wrapper">

      <!-- Sidebar -->
      <aside id="sidebar" class="sidebar">
        {% include author-profile.html %}
        {% include sidebar-categories.html %}
      </aside>

      <!-- Main content -->
      <main id="main" role="main" class="content">
        {{ content }}

        {% if page.mermaid %}
          {% include mermaid.html %}
        {% endif %}
      </main>

    </div>

  <!-- Footer -->
  <footer class="site-footer">
    {% include_cached footer.html %}
  </footer>
  </div>
  </body>
</html>
